:root {
  --transparent: #00000073;
  --primary-text-dark: #055a5b;
  --primary-text-light: #ffffff;
  --para-gray-color: #94949a;
  --main-font: "Inter", sans-serif;
  --title-font: "Aclonica", sans-serif;
  --paragraph: "Poppins", sans-serif;
}


/*About design goes here*/

#about {
  width: 100%;
	height: 100%;
	margin-bottom: 200px;
}

.about-container {
  width: 100%;
  height: 100%;
  padding: 2% 5%;
}

.about-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
	margin-bottom: 100px;
}

.about-heading > h1 {
  width: fit-content;
  transition: .5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2px;
  animation: slideBehind 3s, h1MotionMoves 2s infinite alternate;
}

.about-heading > h1:hover {
  color: var(--para-gray-color);
}

.about-heading > h1:hover .border-bottom {
  width: 80%;
  background-color: var(--para-gray-color);
}

.border-bottom {
  background-color: var(--primary-text-dark);
  width: 50%;
  padding: 1px;
  transition: .5s ease-in-out;
}

/*about details design*/

.about-details {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-images {
	width: 100%;
	display: flex;
	justify-content: end;
	position: relative;
	margin-bottom: 80px;
}

.about-first-img-holder {
	height: 350px;
	width: 80%;
	animation: slideAboutImage 3s;
	position: relative;
	transition: .85s ease-in-out;
	z-index: 1;
}

.about-first-img-holder:hover, .about-second-img-holder:hover {
	transform: scale(0.95);
}

.about-first-img-holder > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-second-img-holder {
	height: 250px;
	width: 50%;
	animation: slideAboutImageSecond 3s, aboutMotionMoves 2s infinite alternate;
	position: absolute;
	bottom: -10%;
	left: 0;
	z-index: 3;
	transition: .5s ease-in-out;
}

.about-second-img-holder > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-third-img-holder {
	height: 150px;
	width: 40%;
	animation: slideAboutImageSecond 3s, aboutMotionMoves2 2s infinite alternate;
	position: absolute;
	top: -10%;
	left: 0%;
	z-index: 0;
	transition: .5s ease-in-out;
}

.about-third-img-holder > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* about details information box design*/

.about-details-info-box {
	position: relative;
	padding: 10% 0px;
	width: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	border-top: 2px solid var(--primary-text-dark);
	border-right: 2px solid var(--primary-text-dark);
}

/*first about design*/

.first-about-details {
	width: 80%;
	background-color: var(--primary-text-light);
	border-bottom: 2px solid var(--primary-text-dark);
	border-left: 2px solid var(--primary-text-dark);
	color: var(--primary-text-dark);
	box-shadow: -1px 1px 5px 0px --transparent;
	padding: 0 25px 25px;
	animation: slideAboutImageSecond 3s;
	transition: .85s ease-in-out;
}

.about-details-heading-and-icon {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	font-size: 1.5rem;
	font-family: var(--main-font);
}

.about-details-heading-and-icon > .fa-solid {
	color: var(--primary-text-dark);
	padding: 5px;
	border-radius: 5px;
}

.about-info > p{
	line-height: 1.7;
	font-size: 1rem;
}